{% extends 'base.html' %}

{% block head %}

<title>Music Sheets By Letter</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/sheets.css') }}">

{% endblock %}

{% block body %}

    <div class = "sheets">
        <div class = "sheets_title">
            Music Sheets
        </div>
        {% if letter %}
        <div class = "sheets_title_letter">
                Music sheets that start with letter {{ letter }}
        </div>
        {% endif %}
        {% if music_sheets|length > 0 %}
        {% for sheet in music_sheets %}
            {{ sheet.title }} <br>
            uploaded by {{ sheet.author }} <br>
        {% endfor %}
        {% else %}
        There are no music sheets for this letter
        {% endif %}
    </div>

{% endblock %}

