{% extends 'base.html' %}

{% block head %}

<title>Update Genres</title>
<link rel = "stylesheet" href = "{{ url_for('static', filename = '/css/music_sheets.css') }}">

{% endblock %}

{% block body %}

    <div class = "update_genres_wrapper">
        <div class = "update_genres">
            <form method = "POST">
                <div class = "update_genres_select">
                    <select name = "update_genres_select">
                        <option value = "POP">POP</option>
                        <option value = "ROCK">ROCK</option>
                        <option value = "DANCE">DANCE</option>
                        <option value = "CLASSICAL">CLASSICAL</option>
                        <option value = "SONGS FROM GAMES">SONGS FROM GAMES</option>
                        <option value = "SONGS FROM MOVIES">SONGS FROM MOVIES</option>
                    </select>
                </div>
                <button class = "button_profile_pic_1" value = "UPDATE_GENRE" type = "SUBMIT">
                    UPDATE
                </button>
            </form>
        </div>
    </div>

{% endblock %}

